@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  color: #fff;
  /* overflow-x: hidden; */
}

.swiper-scrollbar-drag {
  background: #64748b;
  width: 300px;
}
.swiper-scrollbar.swiper-scrollbar-horizontal {
  background: #ffffff;
  /* margin-top: 50px; */
  height: 5px;
}

.mySwiper::after {
  content: "";
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(
    to right,
    rgba(241, 235, 235, 0) 0%,
    #f0e3e3 100%
  );
  will-change: opacity;
  pointer-events: none;
  z-index: 1;
}

.head {
  background: linear-gradient(90deg, #44e63e, #4715df);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}
